@model Escuela

@{
    ViewData["Title"] = "School Information";
}

<h1>School @ViewData["Title"]</h1>
<h2>Name: @Model.Nombre</h2>
<p><strong>Foundation year: @Model.AñoDeCreacion</strong></p>

<p><i>@ViewBag.CosaDinamica</i></p>
<p><i>@ViewData["CosaDinamica"]</i></p>
